<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="aredvi_session">
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.password">user444aredvi</property>
        <property name="hibernate.connection.url">jdbc:mysql://arevidb.cy9qfls9xclg.us-west-2.rds.amazonaws.com:3306/aredvidb</property> 
        <!-- <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/aredvidb</property> -->
        <property name="hibernate.connection.username">aredviuser</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- <property name="hibernate.hbm2ddl.auto">create</property>  -->
        
        <mapping class="com.aredvi.sqlentity.User" />
        <mapping class="com.aredvi.sqlentity.UserLogin" />  
        <mapping class="com.aredvi.sqlentity.Doctor" />
        <mapping class="com.aredvi.sqlentity.UserRole" />
        <mapping class="com.aredvi.sqlentity.Authority" />
        <mapping class="com.aredvi.sqlentity.Phone" />  
        <mapping class="com.aredvi.sqlentity.Address" />  
        <mapping class="com.aredvi.sqlentity.Allergy" />
        <mapping class="com.aredvi.sqlentity.Email" />
        <mapping class="com.aredvi.sqlentity.Speciality" />  
        <mapping class="com.aredvi.sqlentity.DocDocument" />
        <mapping class="com.aredvi.sqlentity.Prescription" />
        <mapping class="com.aredvi.sqlentity.Consultation" />
        <mapping class="com.aredvi.sqlentity.PrescriptionLine" />
        
    </session-factory>
</hibernate-configuration>
